<h1>Listing dacatalog_xmls</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dacatalog_xmls.each do |dacatalog_xml| %>
  <tr>
    <td><%= link_to 'Show', dacatalog_xml %></td>
    <td><%= link_to 'Edit', edit_dacatalog_xml_path(dacatalog_xml) %></td>
    <td><%= link_to 'Destroy', dacatalog_xml, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dacatalog xml', new_dacatalog_xml_path %>
